{
  "printWidth": 120,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "endOfLine": "auto",
        "singleQuote": true
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "endOfLine": "auto"
      }
    }
  ]
}
