<aside class="toc" aria-label="Table of contents">
  <arcgis-layer-list
    #layerList
    heading-level="2"
    show-heading
    show-errors
    show-filter
    min-filter-items="1"
    selection-mode="single"
    visibility-appearance="checkbox"
    (arcgisTriggerAction)="onTriggerAction($event)"
  ></arcgis-layer-list>
  <div class="toc-footer">
    <calcite-button
      appearance="outline"
      kind="neutral"
      icon-start="clock"
      width="full"
      [attr.active]="historyStore.active() ? '' : null"
      (click)="toggleHistory()"
      >Time Slider</calcite-button
    >
  </div>
</aside>
