@if (fields().length === 0) {
  <p class="attributes-placeholder">No attributes available.</p>
} @else {
  <table class="attributes-table">
    @for (field of fields(); track field.label) {
      <tr>
        <td class="attributes-key">{{ field.label }}</td>
        <td class="attributes-value" [class.attributes-value--null]="field.value == null">
          {{ field.value == null ? 'null' : field.value }}
        </td>
      </tr>
    }
  </table>
}
@if (immutableFields().length > 0) {
  <details class="attributes-system-fields">
    <summary>Immutable</summary>
    <table class="attributes-table">
      @for (field of immutableFields(); track field.label) {
        <tr>
          <td class="attributes-key">{{ field.label }}</td>
          <td class="attributes-value" [class.attributes-value--null]="field.value == null">
            {{ field.value == null ? 'null' : field.value }}
          </td>
        </tr>
      }
    </table>
  </details>
}
@if (refPointStore.hasRelationships()) {
  <details class="attributes-refpoints">
    <summary class="attributes-refpoints-summary">
      <calcite-icon icon="pin" scale="s"></calcite-icon>
      Reference Points
    </summary>
    <div class="attributes-refpoints-content">
      <button class="attributes-refpoints-toggle" (click)="toggleRefPoints()">
        <calcite-icon [icon]="refPointStore.visible() ? 'view-visible' : 'view-hide'" scale="s"></calcite-icon>
        {{ refPointStore.visible() ? 'Hide on Map' : 'Show on Map' }}
      </button>
      @if (refPointStore.loading()) {
        <div class="attributes-refpoints-loading">Loading reference points...</div>
      }
      @if (refPointStore.hasPoints()) {
        @if (refPointStore.von().points.length > 0) {
          <div class="attributes-refpoints-group">
            <span class="attributes-refpoints-group-title">Von Punkte ({{ refPointStore.von().points.length }})</span>
            <ul class="attributes-refpoints-list">
              @for (point of refPointStore.von().points; track $index) {
                <li
                  class="attributes-refpoints-item attributes-refpoints-item--clickable"
                  tabindex="0"
                  (click)="openRefPoint(point, 'von')"
                  (keydown.enter)="openRefPoint(point, 'von')"
                >
                  <calcite-icon icon="pin" scale="s"></calcite-icon>
                  <span>{{ getPointLabel(point) }}</span>
                  <calcite-icon icon="chevron-right" scale="s" class="attributes-refpoints-chevron"></calcite-icon>
                </li>
              }
            </ul>
          </div>
        }
        @if (refPointStore.bis().points.length > 0) {
          <div class="attributes-refpoints-group">
            <span class="attributes-refpoints-group-title">Bis Punkte ({{ refPointStore.bis().points.length }})</span>
            <ul class="attributes-refpoints-list">
              @for (point of refPointStore.bis().points; track $index) {
                <li
                  class="attributes-refpoints-item attributes-refpoints-item--clickable"
                  tabindex="0"
                  (click)="openRefPoint(point, 'bis')"
                  (keydown.enter)="openRefPoint(point, 'bis')"
                >
                  <calcite-icon icon="pin" scale="s"></calcite-icon>
                  <span>{{ getPointLabel(point) }}</span>
                  <calcite-icon icon="chevron-right" scale="s" class="attributes-refpoints-chevron"></calcite-icon>
                </li>
              }
            </ul>
          </div>
        }
      }
    </div>
  </details>
}
