<div class="popup-content">
  <h3 class="popup-title">{{ title() }}</h3>

  @switch (activeTab()) {
    @case ('attributes') {
      <div class="popup-panel">
        <rima-attributes-tab [graphic]="graphic()" />
        <rima-reference-point-view [graphic]="graphic()" type="von" />
        <rima-reference-point-view [graphic]="graphic()" type="bis" />
      </div>
    }
    @case ('hierarchy') {
      <div class="popup-panel">
        <rima-hierarchy-tab [graphic]="graphic()" />
      </div>
    }
    @case ('documents') {
      <div class="popup-panel">
        <rima-documents-tab [graphic]="graphic()" />
      </div>
    }
  }
</div>
