<div class="popup-content">
  <h3 class="popup-title">{{ title() }}</h3>
  <div class="popup-tabs">
    <button
      class="popup-tab"
      [class.popup-tab--active]="activeTab() === 'attributes'"
      (click)="selectTab('attributes')"
    >
      Attributes
    </button>
    <button class="popup-tab" [class.popup-tab--active]="activeTab() === 'hierarchy'" (click)="selectTab('hierarchy')">
      Hierarchy
    </button>
    <button class="popup-tab" [class.popup-tab--active]="activeTab() === 'documents'" (click)="selectTab('documents')">
      Documents
    </button>
  </div>

  @switch (activeTab()) {
    @case ('attributes') {
      <div class="popup-panel">
        <rima-attributes-tab [graphic]="graphic()" />
      </div>
    }
    @case ('hierarchy') {
      <div class="popup-panel">
        <rima-hierarchy-tab [graphic]="graphic()" />
      </div>
    }
    @case ('documents') {
      <div class="popup-panel">
        <rima-documents-tab />
      </div>
    }
  }
</div>
