:host {
  display: block;
  font-size: 13px;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.popup-content {
  display: flex;
  flex-direction: column;
}

.popup-panel {
  padding: 4px 0;
  min-height: 40px;
}
